.container {
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
}

.content {
  width: 100%;
}

.container h1 {
  color: var(--dark-blue);
  font-size: var(--pg-header);
  text-transform: uppercase;
  text-decoration: underline;
  margin: 2.5rem auto;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .github-icon,
.container .linkedin-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: 1rem 0.5rem;
  filter: drop-shadow(1px 1px 1px hsla(0, 0%, 0%, 0.5));
}

.container .github-icon:hover,
.container .linkedin-icon:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px hsla(0, 0%, 0%, 0.25));
}

.container .github-icon svg {
  width: 50%;
}

.container .github-icon {
  background-color: var(--dark-blue);
}

.container .linkedin-icon img {
  width: 100%;
  margin: auto;
}

form {
  min-width: 80%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 0.5rem auto;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--baby-blue);
}

input,
input[type="textarea"] {
  min-width: 50%;
}

::placeholder {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: clamp(1rem, 2vw + 1rem, 1.4rem);
}

input[type="textarea"] {
  padding-bottom: 10rem;
}

.container button {
  background-color: var(--dark-blue);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  max-width: 50%;
  margin: 2rem auto;
  font-size: clamp(1.2rem, 2vw + 1rem, 1.8rem);
  filter: drop-shadow(1px 1px 1px hsla(0, 0%, 0%, 0.5));
}

.container button:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 3px hsla(0, 0%, 0%, 0.25));
}

@media (min-width: 884px) {
  input,
  input[type="textarea"] {
    min-width: 40%;
  }
}

@media (min-width: 1188px) {
  input,
  input[type="textarea"] {
    min-width: 30%;
  }
}

@media (min-width: 1400px) {
  input,
  input[type="textarea"] {
    min-width: 20%;
  }
}
