.container {
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  color: var(--dark-blue);
  justify-content: space-between;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.work-header {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: var(--pg-header);
  text-align: center;
  margin-top: 3rem;
}

.project {
  background-color: var(--pale-purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  margin: 3rem auto;
  border-radius: 1.5rem;
}

.img-container {
  position: relative;
}

.img-container .github-icon,
.img-container .link-icon {
  background-color: var(--beige);
  border-radius: 400rem;
  padding: 0.6rem;
  display: flex;
  position: absolute;
  bottom: -1rem;
  z-index: 600;
  width: 3rem;
  filter: drop-shadow(1px 1px 1px hsla(0, 0%, 0%, 0.5));
}

.img-container .github-icon:hover,
.img-container .link-icon:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 3px hsla(0, 0%, 0%, 0.25));
}

.img-container .github-icon {
  left: 20%;
}

.img-container .link-icon {
  right: 20%;
}

.img-container .github-icon img,
.img-container .link-icon img {
  max-width: 90%;
  align-items: center;
  margin: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: hsla(233, 59%, 56%, 0.5);
  border-radius: 1.5rem 1.5rem 0 0;
  z-index: 500;
}

.screenshot {
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
}

.project-title {
  padding: 2rem;
  text-decoration: none;
  font-size: clamp(1.2rem, 2vw + 1rem, 2rem);
}

span {
  text-align: center;
  margin-bottom: 1rem;
  font-size: clamp(1.2rem, 2vw + 1rem, 1.3rem);
}

.skills-list {
  max-width: 80%;
  margin: auto;
  margin-bottom: 6rem;
}

.languages-used {
  margin: 2rem auto;
}

.language {
  list-style: none;
  background-color: var(--dark-blue);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: clamp(1rem, 2vw + 1rem, 1.5rem);
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  text-align: center;
}

.skills-list li {
  padding: 0.5rem;
}

@media (min-width: 808px) {
  .content {
    max-width: 80%;
    margin: auto;
  }
}

@media (min-width: 1400px) {
  .content {
    max-width: 60%;
  }

  .img-container .github-icon,
  .img-container .link-icon {
    width: 4rem;
    height: 4rem;
    bottom: -2rem;
  }
}
