.container {
  background-color: var(--pale-blue);
  min-width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: var(--dark-blue);
}
.content {
  margin: auto;
  margin-bottom: 5rem;
  align-items: center;
  max-width: 80%;
}

.header {
  font-size: var(--pg-header);
  text-transform: uppercase;
  text-decoration: underline;
  align-self: center;
  margin-top: 3rem;
}

p {
  background-color: white;

  padding: 3rem;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  border-radius: 3rem;
  margin: 3rem auto;
}

.skills {
  background-color: var(--pale-purple);
  border-radius: 0 1rem 0 1rem;
  padding: 4rem;
  min-width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  font-size: clamp(2rem, 2vw + 1rem, 2.5rem);
  color: white;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 5rem;
}

.skills-list {
  /* white-space: pre-line;
  margin: -25px 0 0; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 2rem;
  align-items: center;
  margin-left: 3rem;
}

.skills-list li {
  list-style-image: url("../list-img/star-bullets.svg");
  font-size: clamp(1rem, 2vw + 1rem, 1.2rem);
}

@media (min-width: 484px) {
  .content {
    max-width: 70%;
  }
}

@media (min-width: 754px) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 4rem auto;
    max-width: 80%;
  }

  .skills {
    padding: 4rem;
  }
  .skills {
    margin-left: 4rem;
  }
  p {
    margin-right: 4rem;
  }
}

@media (min-width: 1028px) {
  /* .content {
    max-width: 65%;
  } */
  /* p,
  .skills {
    max-width: 55%;
  } */
}

@media (min-width: 1400px) {
  .content {
    max-width: 50%;
  }
  p {
    padding: 5rem;
  }
  .skills-list li {
    font-size: 1.4rem;
  }
}

@media (min-width: 2082px) {
  .content {
    max-width: 35%;
  }
}
