@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --dark-blue: hsl(233, 59%, 56%);
  --baby-blue: #b8c0ff;
  --beige: #fdf1fd;
  --pale-purple: #c8b6ff;
  --pale-blue: #d8dffe;
  --pg-header: clamp(2.5rem, 2vw + 1rem, 3rem);
  --container-padding: 10rem 0;
}

body {
  display: flex;
  flex-direction: column;
}

.active {
  font-weight: bold;
  text-decoration: none;
}

.inactive {
  text-decoration: none;
}

.footer {
  width: 100%;
  /* position: sticky; */
  background-color: var(--baby-blue);
  height: 6rem;
  /* bottom: 0; */
  /* margin-top: auto; */
}
