@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --dark-blue: hsl(233, 59%, 56%);
  --baby-blue: #b8c0ff;
  --beige: #fdf1fd;
  --pale-purple: #c8b6ff;
  --pale-blue: #d8dffe;
  --pg-header: clamp(2.5rem, 2vw + 1rem, 3rem);
  --container-padding: 10rem 0;
}

nav {
  position: fixed;
  z-index: 900;
  background-color: var(--pale-blue);
  display: flex;
  padding: 2rem 4rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.25);
}

nav img {
  margin-right: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 2rem;
  font-size: clamp(1rem, 2vw + 1rem, 1.2rem);
  color: var(--dark-blue);
  text-transform: uppercase;
}

.hero-container {
  background-color: var(--beige);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--container-padding);
}

.name-container {
  display: flex;
  align-items: center;
  position: relative;
}

.name-shape {
  width: 100%;
  margin: 3rem auto;
  margin-top: 10rem;
}

.name {
  position: absolute;
  top: 55%;
  left: 30%;
}

.name h1 {
  font-size: clamp(2rem, 2vw + 1rem, 2.5rem);
  text-transform: uppercase;
  text-indent: -2rem;
}

.name h2 {
  font-size: clamp(1.5rem, 2vw + 1rem, 1.8rem);
  font-weight: normal;
  text-indent: 2rem;
}

.hero-container .down-arrow {
  margin-right: 6rem;
  margin-top: -3rem;
  padding-bottom: 3rem;
  align-self: end;
  width: 10%;
}

.skills-container {
  background-color: var(--pale-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  padding: 3rem;
  color: var(--dark-blue);
  padding: var(--container-padding);
}

.skills-container h1 {
  font-size: var(--pg-header);
  text-decoration: underline;
}

.skills-container ul {
  background-color: var(--pale-purple);
  margin-top: 2rem;
  padding: 4rem;
  border-radius: 0 1rem 0 1rem;
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  grid-template-columns: 1fr;
  max-width: 70%;
}

.skills-container li {
  list-style-image: url("../list-img/star-bullets.svg");
  font-size: clamp(1.2rem, 2vw + 1rem, 1.5rem);
}

.work-container {
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-blue);
  padding: 3rem;
}

.work-header {
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 2rem;
  font-size: var(--pg-header);
}

.project {
  background-color: var(--pale-purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  margin-top: 3rem;
  border-radius: 1.5rem;
}

.img-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: hsla(233, 59%, 56%, 0.5);
  border-radius: 1.5rem 1.5rem 0 0;
  z-index: 500;
}

.project-screenshot {
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
}

.project-title {
  display: flex;
  padding: 1rem;
  position: relative;
}

.project-title h1 {
  font-size: clamp(1.2rem, 2vw + 1rem, 1.5rem);
}

.project-title .github-icon,
.project-title .link-icon {
  background-color: var(--beige);
  border-radius: 400rem;
  padding: 0.6rem;
  display: flex;
  position: absolute;
  top: -1rem;
  z-index: 600;
  width: 3rem;
  filter: drop-shadow(1px 1px 1px hsla(0, 0%, 0%, 0.5));
}

.project-title .github-icon:hover,
.project-title .link-icon:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 3px hsla(0, 0%, 0%, 0.25));
}

.project-title .github-icon {
  left: -2rem;
}

.project-title .link-icon {
  right: -2rem;
}

.project-title .github-icon img,
.project-title .link-icon img {
  max-width: 90%;
  align-items: center;
  margin: auto;
}

.languages-used {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  max-width: 70%;
  margin: 2rem auto;
}

.work-container li {
  list-style: none;
  background-color: var(--dark-blue);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: clamp(1rem, 2vw + 1rem, 1.2rem);
}

.contact-container {
  background-color: var(--pale-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.contact-container h1 {
  color: var(--dark-blue);
  font-size: var(--pg-header);
  text-transform: uppercase;
  text-decoration: underline;
  margin: 2.5rem auto;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container .github-icon,
.contact-container .linkedin-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500rem;
  width: 3.5rem;
  height: 3.5rem;
  margin: 1rem 0.5rem;
  filter: drop-shadow(1px 1px 1px hsla(0, 0%, 0%, 0.5));
}

.contact-container .github-icon:hover,
.contact-container .linkedin-icon:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px hsla(0, 0%, 0%, 0.25));
}

.contact-container .github-icon svg {
  width: 2rem;
  margin: auto;
}

.contact-container .github-icon {
  background-color: var(--dark-blue);
}

.contact-container .linkedin-icon img {
  width: 4rem;
  height: 3.5rem;
}

form {
  max-width: 80%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 0.5rem auto;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--baby-blue);
}

::placeholder {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: clamp(1rem, 2vw + 1rem, 1.2rem);
}

input[type="textarea"] {
  height: 15rem;
}

input[type="textarea"]::placeholder {
  position: absolute;
}

.contact-container button {
  background-color: var(--dark-blue);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  max-width: 50%;
  margin: 2rem auto;
  font-size: clamp(1.2rem, 2vw + 1rem, 1.5rem);
  filter: drop-shadow(1px 1px 1px hsla(0, 0%, 0%, 0.5));
}

.contact-container button:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 3px hsla(0, 0%, 0%, 0.25));
}
